.row
  %h3.center Team
.row
  .col.s12.m4
    .card
      .card-image.waves-effect.waves-block.waves-light
        = image_tag 'yogesh.jpg', class: 'circle responsive-img'
      .card-content
        %h5.card-title.red-text.text-lighten-3 Yogesh Khater
        %p
          %a{:href => "http://github.com/yogeshjain999"} yogeshjain999

  .col.s12.m4
    .card
      .card-image.waves-effect.waves-block.waves-light
        = image_tag 'shweta.jpg', class: 'circle responsive-img'
      .card-content
        %h5.card-title.red-text.text-lighten-3 Shweta Kale
        %p
          %a{:href => "http://github.com/Shwetakale"} Shwetakale

  .col.s12.m4
    .card
      .card-image.waves-effect.waves-block.waves-light
        = image_tag 'anil.jpg', class: 'circle responsive-img'
      .card-content
        %h5.card-title.red-text.text-lighten-3 Anil Maurya
        %p
          %a{:href => "http://github.com/anilmaurya"} anilmaurya
