.project-details
  %h2.project-details-title
    %a{:href => "https://github.com/anilmaurya", :target => "_blank"} anilmaurya
    \/
    %a{:href => "https://github.com/anilmaurya/code_detective", :target => "_blank"} code detective
  %p.project-details-description Project detail
  %ul.github-stats
    %li.github-stat
      .github-stat-count
        834
      .github-stat-type Stars
    %li.github-stat
      .github-stat-count
        152
      .github-stat-type Forks
    %li.github-stat
      .github-stat-count
        144
      .github-stat-type Open issues
    %li.github-stat
      .github-stat-count
        71
      .github-stat-type Subscribers
  %p.issue-title Issue title here
  %p.isssue-description
    %p
      Issue Decription here
    %button.btn.waves-effect.waves-light{:name => "action", :type => "submit"}
      Next
      %i.material-icons.right send
