.row.center
  %h3
    %span.header.center.red-text.text-lighten-1 Why
    %span.header.center.white-text.text-lighten-1 Contribute ?
.row
  .col.s12.m4
    .card.brown.darken-3
      .card-content.white-text
        %span.card-title.red-text SHARPEN YOUR SKILLS
        %p
          Open source contributors become masters at what they do.
          %br
          Granted, you can become a master of your trade in other, non-open-source environments.
          %br
          But open source projects foster a sense of ownership and responsibility that
          pushes people towards greater achievements.
          %br
  .col.s12.m4
    .card.brown.darken-3
      .card-content.white-text
        %span.card-title.red-text SHARING
        %p
          The philosophy of open source means doing something that allows people to use,
          modify, share and study valuable code, which is geared toward helping others, something
          that resonates with many developers.
          %br
          Taking part in open source means working for the advancement
          of greater shared knowledge.

  .col.s12.m4
    .card.brown.darken-3
      .card-content.white-text
        %span.card-title.red-text RECRUITERS WILL CALL YOU!
        %p
          The work happens in the open and among a community, a talented open source contributor
          will become known and recognized for his or her contribution.
          %br
          If you are a freelance developer,
          that will help you get known by potential clients, you will be more likely to be hired.

.right= link_to 'websitemagazine.com', 'http://www.websitemagazine.com/content/blogs/posts/archive/2013/08/29/why-developers-contribute-to-open-source-projects.aspx', target: :_blank, class: 'red-text'
