.row
  %h3.center Why Contribute
.row
  .col.s12.m4
    .card.card-panel.blue-grey.darken-1
      %span.card-title SHARPEN YOUR SKILLS
      %p
        Open source contributors become masters at what they do.
        Granted, you can become a master of your trade in other, non-open-source environments.
        But open source projects foster a sense of ownership and responsibility that
        pushes people towards greater achievements.
  .col.s12.m4
    .card.card-panel.blue-grey.darken-1
      %span.card-title SHARING
      %p
        The philosophy of open source means doing something that allows people to use,
        modify, share and study valuable code, which is geared toward helping others, something
        that resonates with many developers. Taking part in open source means working for the advancement
        of greater shared knowledge.

  .col.s12.m4
    .card.card-panel.blue-grey.darken-1
      %span.card-title RECRUITERS WILL CALL YOU!
      %p
        The work happens in the open and among a community, a talented open source contributor
        will become known and recognized for his or her contribution. If you are a freelance developer,
        that will help you get known by potential clients, you will be more likely to be hired.
