/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

a:link {
  color: #e4796b;
}

div.parallax img {
  transform: translate3d(-61%, 95px, 0px);
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
#index-banner{
  background: url("background.jpg") repeat-y;
  padding-bottom: 1%;
}
.why_contribute{
  background: url("background.jpg") repeat-y;
  padding-bottom: 1%;
}

.about_us h3 {
  color: #e4796b;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.site_description .card{
  margin: auto 18%;
}
footer.page-footer {
  margin: 0;
}

.twitter-typeahead { width: 100%; } 

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  color: #fff;
  background-color: #4e342e !important;
  border: 1px solid #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #ef5350;
}

.tt-suggestion p {
  margin: 0;
}

.card {
  background-color: #F5F5F0;
  color: grey;
}
.card .card-title {
    color: beige;
}

.input-field {
  font-weight: bolder;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}

::-webkit-input-placeholder {
  color: #fff;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;  
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;  
  text-align: center;
}

:-ms-input-placeholder {  
  color: #fff;
  text-align: center;
}
