!!!
%html{:lang => "en"}
  %head
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title Let's Contribute
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body
    = yield
